In [49]:
import pandas as pd
from sqlalchemy import create_engine
import getpass

In [50]:
password = getpass.getpass()

········

In [51]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'

In [52]:
engine = create_engine(connection_string)

In [53]:
#1. Query to extract film and rental features

sql_query = """
SELECT f.film_id, f.title, 
       CASE WHEN r.rental_date IS NOT NULL THEN 1 ELSE 0 END AS rented_in_may
FROM film AS f
LEFT JOIN inventory AS i ON f.film_id = i.film_id
LEFT JOIN rental AS r ON i.inventory_id = r.inventory_id
WHERE YEAR(r.rental_date) = 2005 AND MONTH(r.rental_date) = 5
"""

# Execute the query and read data into a DataFrame
df = pd.read_sql_query(query, engine)

# Show the extracted data
display(df.head())

         film_title  rented_in_may
0  ACADEMY DINOSAUR              1
1    ACE GOLDFINGER              0
2  ADAPTATION HOLES              1
3  AFFAIR PREJUDICE              1
4       AFRICAN EGG              1

In [54]:
import pandas as pd
from sqlalchemy import create_engine

# Query to get unique film titles and a boolean column indicating if they were rented in May 2005
query_rented_in_may = '''
    SELECT f.film_id, f.title AS film_title,
           CASE WHEN MONTH(r.rental_date) = 5 AND YEAR(r.rental_date) = 2005 THEN 1 ELSE 0 END AS rented_in_may
    FROM film f
    LEFT JOIN inventory i ON f.film_id = i.film_id
    LEFT JOIN rental r ON i.inventory_id = r.inventory_id
    GROUP BY f.film_id, f.title
'''

# Execute the query and read data into a DataFrame
df = pd.read_sql_query(sql_query, engine)

# Show the extracted data
print(df.head())

   film_id             title  rented_in_may
0        1  ACADEMY DINOSAUR              1
1        1  ACADEMY DINOSAUR              1
2        3  ADAPTATION HOLES              1
3        4  AFFAIR PREJUDICE              1
4        4  AFFAIR PREJUDICE              1

In [55]:
# 3. Read the data into a Pandas dataframe. 

# Display first few rows of the DataFrame
df.head()

# Check data types and summary statistics
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   film_id        1156 non-null   int64
 1   title          1156 non-null   object
 2   rented_in_may  1156 non-null   int64
dtypes: int64(2), object(1)
memory usage: 27.2+ KB

           film_id  rented_in_may
count  1156.000000         1156.0
mean    494.376298            1.0
std     286.397746            0.0
min       1.000000            1.0
25%     255.000000            1.0
50%     490.000000            1.0
75%     739.000000            1.0
max    1000.000000            1.0

In [56]:
# 4. Analyze an transform features: Encode categorical variables and Scale numerical variables.
# 5. Create a logistic Regiression Model

In [57]:
# Data Processing: Encoding Categorical Varibles: Using one-hot encoding for categorical variables.
# Scaling Numerical Variables: Scaling numerical features

In [62]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline


# Separate features (X) and target variable (y)
X = df.drop(columns=['rented_in_may'])
y = df['rented_in_may']

# Identify categorical and numerical columns
categorical_cols = ['film_id', 'title']  # Adjust based on actual categorical columns
numerical_cols = [col for col in X.columns if col not in categorical_cols]

# Preprocessing steps
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_cols),
        ('cat', OneHotEncoder(), categorical_cols)
    ])

# Fit and transform data
X_processed = preprocessor.fit_transform(X)

In [64]:
X = df.drop(columns=['rented_in_may'])
y = df['rented_in_may']

#(One-Hot Encoding) 
X_encoded = pd.get_dummies(X, columns=['film_id', 'title'], drop_first=True)

In [66]:
# 5. Creating a Logistic Regression Model using the processed data
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Initialize the logistic regression model
log_reg_model = LogisticRegression()

# Train the model
log_reg_model.fit(X_train, y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 1

In [67]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Make predictions
y_pred = log_reg_model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy of the logistic regression model: {accuracy}")

# Other evaluation metrics (classification report, confusion matrix)
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

AttributeError: 'LogisticRegression' object has no attribute 'coef_'